@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Poppins", sans-serif;
}

body {
  color: #CAC9CD;
  background:  #2A233C;
}

option{
  background: #2A233C;
  color: #CAC9CD;
}
